<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<meta charset="utf-8">
		<title>Ben Leskey | Redirects</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link rel="alternate" type="application/rss+xml" title="Ben Leskey's RSS feed" href="feed.xml">
	</head>
	<body>
		<a href="..">Ben Leskey</a>
		<hr>
		<h1>Redirects</h1>
		<table>
			<thead>
				<tr>
					<th>Short name</th>
					<th>URL</th>
				</tr>
			</thead>
			<tbody>
				__AKAS__
			</tbody>
		</table>
		<hr>
		<footer>
			<div class="footerinfo">
				<span>__NUM_AKAS__ total</span>
				__FOOTERICONS__
			</div>
		</footer>
	</body>
</html>
