<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<title>Ben Leskey's Blog</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link rel="alternate" type="application/rss+xml" title="Ben Leskey's RSS feed" href="https://benleskey.com/blog/feed.xml">
	</head>
	<body>
		<a href="..">Ben Leskey</a> | <a href="tags">Blog Tags</a>
		<a class="rss" href="https://benleskey.com/blog/feed.xml"><img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" class="rss" alt="RSS feed"></a>
		<hr>
		<h1>Ben Leskey's Blog</h1>
		__BLOGMAJOR__
	</body>
</html>
