<a class="icon" href="https://gitlab.com/linewriter1024" title="Gitlab @linewriter1024">
	<img src="https://upload.wikimedia.org/wikipedia/commons/3/35/GitLab_icon.svg" alt="Gitlab account">
</a>

<a class="icon" href="https://github.com/linewriter1024" title="Github @linewriter1024">
	<img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github account">
</a>

<a class="icon" href="__ROOT__/blog/feed.xml" title="RSS feed">
	<img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" alt="RSS feed">
</a>
