<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" context="Ben Leskey">
		<title>Ben Leskey</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<a href="#contact">Contact</a> | <a href="#projects">Projects</a> | <a href="blog">Blog</a> | <a href="#MVNU">MVNU</a>
		<hr>
		<h1 id="contact">I am Benjamin Leskey</h1>
		<ul>
			<li><a href="https://github.com/linewriter1024">Github Account (linewriter1024)</a></li>
			<li>E-mail me at ben (a) benleskey (o) com</li>
		</ul>

		<h2 id="blogpreview">Recent blog posts</h2>
		<span>
			__BLOGMINOR__
		</span>

		<h2 id="projects">Projects</h2>
		<h3>My Projects</h3>
		<ul>
			<li><a href="aka/mappingtool">Map making software</a> for authors and storytellers and people who can't draw. I developed this as part of my Senior Honors project at MVNU. See posts <a href="aka/mappingtoolnews">about the mapping tool</a></li>
		</ul>

		<h3>My Contributions</h3>
		<ul>
			<li><a href="https://minetest.net">Minetest</a> is a voxel-based game engine with a ton of games and mods</li>
			<li><a href="https://cataclysmdda.org">Cataclysm: Dark Days Ahead</a> is a great, complex survival game</li>
		</ul>

		<h2 id="MVNU">MVNU</h2>
		<ul>
			<li><a href="https://mvnu.edu">MVNU</a></li>
			<li>Academic e-mail is benleskey (a) mvnu (o) edu</li>
		</ul>
	</body>
</html>
