<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<meta charset="utf-8">
		<title>Ben Leskey | __TITLE__</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link rel="alternate" type="application/rss+xml" title="Ben Leskey's RSS feed" href="feed.xml">

		<!-- Syntax highlighting with highlight.js -->
		<link rel="stylesheet" href="../deps/highlight.js.css">
		<link rel="stylesheet" href="../deps/highlight.js.dark.css" media="(prefers-color-scheme: dark)">
		<script src="../deps/highlight.js.js"></script>
		<script>hljs.highlightAll();</script>

		<script>
			window.addEventListener("load", function() {
				for(const img of document.getElementsByTagName("img")) {
					// Make img title equal img alt if the title isn't set
					if(!img.hasAttribute("title")) {
						img.setAttribute("title", img.getAttribute("alt"));
					}

					// If the img isn't part of a link, make it link to itself.
					if(img.parentNode.tagName.toLowerCase() !== "a") {
						const a = document.createElement("a");
						a.setAttribute("href", img.getAttribute("src"));
						img.replaceWith(a);
						a.appendChild(img);
					}
				}
			});
		</script>
	</head>
	<body>
		<a href="..">Ben Leskey</a> | <a href=".">Pages</a>
		<hr>
		<header>
		<h1>__TITLE__</h1>
		<span class="subtitle">__PAGE_DATE__</span>
		</header>
		<hr>
		<main class="post">
			__PAGE__
		</main>
		<hr>
		<footer>
			<div class="footerinfo">
				<span>Page dated __PAGE_DATE__</span>
				__FOOTERICONS__
			</div>
		</footer>
		<script id="diffblog-plugin-script" defer src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script>
		<script>
				document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
					if(window.location.hostname === "benleskey.com") {
						DiffBlog(
							"4ueakreaad4synt32tf40kmwalpfu5wwbrqany53viw9hka20x"
						);
					}
				});
		</script>
	</body>
</html>
