<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" context="Ben Leskey">
		<title>Ben Leskey | __TITLE__</title>
		<link rel="stylesheet" type="text/css" href="../style.css">

		<!-- Syntax highlighting with highlight.js -->
		<link rel="stylesheet" href="../deps/highlight.js.css">
		<script src="../deps/highlight.js.js"></script>
		<script>hljs.highlightAll();</script>
	</head>
	<body>
		<a href="..">Ben Leskey</a> | <a href=".">Blog</a>
		<hr>
		<h1>__TITLE__</h1>
		<span class="subtitle">__DATE__</span>
		<span class="tags">__TAGS__</span>
		<hr>
		__POST__
		<hr>
	</body>
</html>
