<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<meta charset="utf-8">
		<title>Ben Leskey | __TITLE__</title>
		<link rel="stylesheet" type="text/css" href="../style.css">

		<!-- Syntax highlighting with highlight.js -->
		<link rel="stylesheet" href="../deps/highlight.js.css">
		<script src="../deps/highlight.js.js"></script>
		<script>hljs.highlightAll();</script>
	</head>
	<body>
		<a href="..">Ben Leskey</a> | <a href=".">Blog</a>
		<a class="rss" href="https://benleskey.com/blog/feed.xml"><img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" class="rss" alt="RSS feed"></a>
		<hr>
		<header>
		<h1>__TITLE__</h1>
		<span class="subtitle">__DATE__</span>
		<span class="tags">__TAGS__</span>
		</header>
		<hr>
		<article>
			__POST__
		</article>
		<hr>
	</body>
</html>
