<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<meta charset="utf-8">
		<title>Ben Leskey | __TITLE__</title>
		<link rel="stylesheet" type="text/css" href="../style.css">
		<link rel="alternate" type="application/rss+xml" title="Ben Leskey's RSS feed" href="feed.xml">

		<!-- Syntax highlighting with highlight.js -->
		<link rel="stylesheet" href="../deps/highlight.js.css">
		<script src="../deps/highlight.js.js"></script>
		<script>hljs.highlightAll();</script>

		<!-- Make img title equal img alt if the title isn't set -->
		<script>
			window.addEventListener("load", function() {
				for(const img of document.getElementsByTagName("img")) {
					if(!img.hasAttribute("title")) {
						img.setAttribute("title", img.getAttribute("alt"));
					}
				}
			});
		</script>
	</head>
	<body>
		<a href="..">Ben Leskey</a> | <a href=".">Blog</a>
		<hr>
		<header>
		<h1>__TITLE__</h1>
		<span class="subtitle">__POST_DATE__</span>
		<span class="tags">__TAGS__</span>
		</header>
		<hr>
		<main>
			__POST__
		</main>
		<hr>
		<footer>
			<span>Post dated __POST_DATE__</span>
			__FOOTERICONS__
		</footer>
		<script id="diffblog-plugin-script" async="false" src="https://diff.blog/static/js/diffblog_plugin_v1.js"></script>
		<script>
				document.getElementById("diffblog-plugin-script").addEventListener("load", function () {
					DiffBlog(
						"4ueakreaad4synt32tf40kmwalpfu5wwbrqany53viw9hka20x"
					);
				});
		</script>
	</body>
</html>
