<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ben Leskey" />
    <meta charset="utf-8" />
    <title>Ben Leskey | __TAG__</title>
    <link rel="stylesheet" type="text/css" href="__ROOT__/style.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Leskey's RSS feed: __TAG__"
      href="__ROOT__/blog/tags/__TAG__.feed.xml"
    />
  </head>
  <body>
    <nav>
      <a href="__ROOT__">Ben Leskey</a> | <a href="__ROOT__/blog">Blog</a>
      <script src="__ROOT__/light-selector.js"></script>
    </nav>
    <hr />
    <h1>
      __TAG__ tag
      <a
        class="icon"
        href="__ROOT__/blog/tags/__TAG__.feed.xml"
        title="RSS feed"
      >
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg"
          alt="RSS feed"
        />
      </a>
    </h1>
    <ul class="toc large">
      __TAG_LIST__
    </ul>
    <ul>
      __ITEMS__
    </ul>
    <hr />
    <footer>
      <div class="footerinfo">
        <span>__NUM_POSTS__ total</span>
        __FOOTERICONS__
      </div>
    </footer>
  </body>
</html>
