<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Ben Leskey">
		<meta charset="utf-8">
		<title>Ben Leskey | Blog Tags</title>
		<link rel="stylesheet" type="text/css" href="__ROOT__/style.css">
		<link rel="alternate" type="application/rss+xml" title="Ben Leskey's RSS feed" href="__ROOT__/blog/feed.xml">
	</head>
	<body>
		<a href="__ROOT__">Ben Leskey</a> | <a href="__ROOT__/blog">Blog</a>
		<hr>
		<h1>Blog Tags <a class="icon" href="__ROOT__/blog/feed.xml" title="RSS feed">
			<img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg" alt="RSS feed">
		</a></h1>
		__TAGS__
		<hr>
		<footer>
			<div class="footerinfo">
				<span>__NUM_TAGS__ total</span>
				__FOOTERICONS__
			</div>
		</footer>
	</body>
</html>
